main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.btn-cont{
	width: 100%;
	display: flex;
	justify-content: center;
	
	
}

.btn-center {
	margin: auto;
	
}

.scroll{
	height: 70vh;
	overflow-y: auto;
	
	overflow-x: hidden;
	
}